#root {
  max-width: 1480px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

th {
  background-color: #3a3a57;
  border: 1px solid #000000;
  padding: 8px;
  text-align: left;
  font-weight: bold;
}

td {
  border: 1px solid #000000;
  padding: 8px;
  text-align: left;
}


tr {
  background-color: #2e2e2e;
}

tr:nth-child(even) {
  background-color: #27252e;
}